page-login {
    .content {
        background-image:  url('../assets/img/login.png');
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: 100%;
        position: relative;

        ion-list {
            position: absolute;
            bottom: 25px;
            width: calc(100% - 32px);

            ion-item {
                background-color: transparent;
                padding-left: 0;
                ion-label {
                    color: $primary-color-text !important;

                    
                    ion-icon {
                        font-size: 1.6em;
                    }
                }

                input {
                    color: $primary-color-text !important;
                }
            }
        }

        .item-inner {
            border-bottom-color: $primary-color-text !important;
            -webkit-box-shadow: inset 0 -1px 0 0 $primary-color-text !important;
            box-shadow: inset 0 -1px 0 0 $primary-color-text !important;
        }
    }
}
