<ion-content padding>
  <ion-list no-lines>
      <ion-item>
        <ion-label><ion-icon name="person" color="primary-color-text"></ion-icon></ion-label>
        <ion-input [type]="'number'" [(ngModel)]="sa.login" [min]="0" [max]="11"></ion-input>
      </ion-item>
      <button ion-button large block color="primary-color-text" (click)="setSolicitar()">{{(this.saProvider.getIdAutenticacao() === null) ? 'Solicitar' : 'Autenticar'}}</button>
    </ion-list>
</ion-content>
