<!--
  Generated template for the NotasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary-color">
    <ion-buttons end>
      <button (click)="popoverCredito($event)" ion-button >TC {{vCredito | currency:'BRL':true}}</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-list>
    <ion-item-divider color="light">{{mes.name}}<ion-note float-right>T: {{mes.valorTotal || 0 | currency:'BRL':true}}</ion-note></ion-item-divider>
    <ion-item *ngFor="let nota of notas | async">
      <h2>{{nota.descricaoContribuinte}}</h2>
      <p>{{nota.valorTotal | currency:'BRL':true}} - {{nota.valorCredito || 0 | currency:'BRL':true}}</p>
      <ion-note item-end>{{nota.dataEmissao | date:'dd/MM/y'}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
