page-notas {
    .content {
        ion-item {
            padding-left: 0;
            
            ion-note {
                font-size: 0.6em;
                margin-top: 0 !important;
            }

            ion-label {
                padding-left: 16px;
            }

            p {
                font-size: 0.8em;
            }
        }
    }

}
