<ion-header>
  <header-app [title]="'Perfil'" [color]="'green-color'"></header-app>
</ion-header>
<ion-content no-padding>
  <ion-avatar>
    <img [src]="user.photoURL">
  </ion-avatar>
  <div id="infoPerfil">
  </div>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          Nome: {{user.displayName}}
        </ion-item>
        <ion-item>
          E-mail: {{user.email}}
        </ion-item>
        <ion-item>
          Pontos: 800
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>