page-perfil {
    .content {
        background-color: #F4F4F7;

        ion-avatar {
            background-color: #FFFFFF;
            border: 1px solid #999999;
            border-radius: 50%;
            width: 50%;
            margin: 15px auto;
            position: relative;

            img {
                border-radius: 50%;
                box-shadow: 3px 3px 5px rgba(0,0,0,.5)
            }
        }
    }
}
