page-denuncia {
    .content {
        background-color: #f4f4f7;

        b {
            color: $accent-color;
        }
        ion-card-title b {
            display: block;
            font-size: .4em;
        }
    }
}
