<ion-header>
  <header-app [title]="'Denuncia'" [color]="'purple-color'"></header-app>
</ion-header>

<ion-content no-padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Formulário de Denúncia
        <b>Obrigatório *</b>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="denunciaFrom" (ngSubmit)="onSubmit()">
        <ion-list>
          <ion-item>
            <ion-label floating>Código da nota fiscal (cNF)</ion-label>
            <ion-input type="number" formControlName="cNF"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>CNPJ do usuário</ion-label>
            <ion-input type="number" formControlName="cnpjDestinatario"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>CNPJ de quem emitiu a nota
              <b>*</b>
            </ion-label>
            <ion-input type="number" formControlName="cnpjEmitente"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>CPF do usuário</ion-label>
            <ion-input type="number" formControlName="cpfDestinatario"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Data de emissã da nota
              <b>*</b>
            </ion-label>
            <ion-datetime #dateTime formControlName="dataEmissao" displayFormat="DD/MM/YYYY HH:mm" pickerFormat="DD/MM/YYYY HH:mm"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label floating>Descrição da denúncia
              <b>*</b>
            </ion-label>
            <ion-textarea formControlName="denuncia"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label floating>Número do ECF
              <b>*</b>
            </ion-label>
            <ion-input type="number" formControlName="numeroECF"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Série da nota fiscal</ion-label>
            <ion-input type="text" formControlName="serie"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Situação da denúncia
              <b>*</b>
            </ion-label>
            <ion-input type="text" formControlName="situacao"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Sub série da nota</ion-label>
            <ion-input type="text" formControlName="subSerie"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Código do tipo da denúncia
              <b>*</b>
            </ion-label>
            <ion-select formControlName="tipoDenuncia">
                <ion-option value="1">Sonegação fiscal</ion-option>
                <ion-option value="2">Preções abusivos</ion-option>
                <ion-option value="3">Qualidade de ambiente</ion-option>
              </ion-select>
          </ion-item>
          <ion-item>
            <ion-label stacked>Tipo do documento fiscal
              <b>*</b>
            </ion-label>
            <ion-select formControlName="tipoDocumento">
              <ion-option value="NF-E">NF-E</ion-option>
              <ion-option value="NFC-E">NFC-E</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating>Valor total da nota
              <b>*</b>
            </ion-label>
            <ion-input type="text" formControlName="valor"></ion-input>
          </ion-item>
          <ion-item>
            <button type="submit" ion-button block large [disabled]="!denunciaFrom.valid" color="primary-color">Denunciar</button>
          </ion-item>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>