header-app {
    .badge-container {
        position: relative;
      }
    
      .custom-badge {
        position:absolute; 
        top: -5px; 
        left: 15px; 
        border-radius: 100%; 
        font-size: 10px !important;
        padding: 4px 6px; 
        font-weight: bold;
      }
}
