<ion-navbar [color]="color">
  <button ion-button icon-only menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    {{text}}
  </ion-title>
  <ion-buttons end>
    <button ion-button icon-only (click)="openNotificacao()">
      <ion-icon name="notifications" class="badge-container">
        <ion-badge  class="custom-badge" color="accent-color">3</ion-badge>
      </ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>