<ion-header>
  <header-app [title]="'Sorteio'" [color]="'primary-color'"></header-app>
</ion-header>

<ion-content no-padding>
  <ion-card>
    <ion-toolbar color="primary-color">
      <ion-card-title color="primary-color-text">
        {{sorteiocurrent.dataRealizacao | date:'dd/MM/y'}}
      </ion-card-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="popoverConfigSorteio($event)">
          <ion-icon name="options"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <p class="label">Nome:</p>
          <p>{{sorteiocurrent.descricao}}</p>
        </ion-item>
        <ion-item>
          <p class="label">Numero do Sorteio:</p>
          <p>{{sorteiocurrent.codigoSorteio}}</p>
        </ion-item>
        <ion-item *ngFor="let bilhete of bilhetes">
          <p class="label">Numero do Bilhete:</p>
          <p>{{bilhete.numeroBilhete}}</p>
        </ion-item>
      </ion-list>
      <button ion-button large block color="primary-color" (click)="bilhetePremiado()">Ver Bilhete Premiado</button>
    </ion-card-content>
  </ion-card>
</ion-content>