page-home {
    .content {
        background-color: #f4f4f7;

        ion-card {
            margin: 0;
            transition: all .5s ease;
            position: relative;

            &:active {
                transform: scale(1.2);
                z-index: 12;
            }

            &[col-6] {
                padding: 0;
            }
            &[col-12] {
                padding: 0;

                ion-card-content {
                    bottom: 50px;
                    left: 35px;
                    width: calc(100% - 20px); 

                    h2 {

                    }
                }
            }

            ion-card-content {
                position: absolute;
                bottom: 15px;
                width: 100%;

                h2 {
                    text-align: center;
                    font-weight: 900;
                }
            }
        }
    }
}
