<ion-header>
  <header-app [title]="'Principal'"></header-app>
</ion-header>

<ion-content no-padding>
  <ion-card col-6 float-left (click)="openConsulta()">
    <img src="assets/img/consulta.png">
    <ion-card-content>
      <h2>Consulta</h2>
    </ion-card-content>
  </ion-card>
  <ion-card col-6 float-left (click)="openIncluirDenuncia()">
    <img src="assets/img/denuncia.png">
    <ion-card-content>
      <h2>Denuncia</h2>
    </ion-card-content>
  </ion-card>
  <ion-card col-6 float-left (click)="openGame()">
    <img src="assets/img/game.png">
    <ion-card-content>
      <h2>Game</h2>
    </ion-card-content>
  </ion-card>
  <ion-card col-6 float-left (click)="openCredito()">
    <img src="assets/img/creditos.png">
    <ion-card-content>
      <h2>Utilização dos Créditos</h2>
    </ion-card-content>
  </ion-card>
  <ion-card col-12 float-left (click)="openEducacao()">
    <img src="assets/img/educacao.png">
    <ion-card-content>
      <h2>Educação Fiscal</h2>
    </ion-card-content>
  </ion-card>
</ion-content>
