page-slide {
    .content {
        background: #e73440; 

        * {
            color: #ffffff !important;
        }

        .toolbar-background {
            background: #e73440;
            border-color: transparent;
            border: 0;
        }
        .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
            top: 0px;
            bottom: auto;
            background-position: left 0 top 0;
            height: 0px;
        }
        .swiper-pagination-bullet-active {
            background: #FFFFFF;
            opacity: 1;
        }
    
        .slide-zoom {
            height: 100%;
        }

        .slide-title {
            margin-top: 2.8rem;
        }

        .slide-image {
            max-height: 80%;
            max-width: 80%;
            margin: 18px 0;
        }

        b {
            font-weight: 500;
        }

        p {
            padding: 0 40px;
            font-size: 14px;
            line-height: 1.5;
            color: #60646B;

            b {
                color: #000000;
            }
        }
    }
}
