<ion-content class="tutorial-page">
  
    <ion-slides #slidesConent pager (ionSlideDidChange)="slideChanged()">
      <ion-slide  *ngFor="let slide of slides">
        <img [src]="slide.image" class="slide-image"/>
        <h2 class="slide-title" [innerHTML]="slide.title"></h2>
        <p [innerHTML]="slide.description"></p>
        <ion-footer>
          <ion-buttons *ngIf="currentIndex !== 3" float-left >
            <button ion-button clear (click)="pular()">Pular</button>
          </ion-buttons>
          <ion-buttons *ngIf="currentIndex !== 3" end >
            <button ion-button clear (click)="next()"><ion-icon name="ios-arrow-forward"></ion-icon></button>
          </ion-buttons>
          <ion-buttons *ngIf="currentIndex == 3" end>
            <button (click)="openLogin()" ion-button clear >Feito</button>
          </ion-buttons>
        </ion-footer>
      </ion-slide>
    </ion-slides>
  </ion-content>