<ion-menu [content]="content" id="menu" enabled="false">
    <ion-content>
        <ion-toolbar *ngIf="showMenu">
            <ion-avatar>
                <img [src]="user.photoURL">
            </ion-avatar>
            <h2>{{user.displayName}}</h2>
        </ion-toolbar>
        <ion-list no-lines>
            <ion-item menuClose *ngFor="let item of menuItem" (click)="openPage(item)">
                <ion-icon name="{{item.icon}}"></ion-icon>
                {{item.title}}
            </ion-item>
            <ion-list-header>
                Outros
            </ion-list-header>
            <ion-item menuClose *ngFor="let itemO of menuItemOuter" (click)="openOption(itemO)">
                <ion-icon name="{{itemO.icon}}"></ion-icon>
                {{itemO.title}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>
