// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-menu {
    ion-icon {
        margin-right: 15px;
        
        &::before {
            color: $secondary-text-color;
        }
    }

    ion-toolbar {
        padding: 20px 15px !important;
        margin-bottom: 15px !important;
        position: relative !important;
        .toolbar-background {
            background-image: url('../assets/img/hf.png') !important;
            background-position: 100%;
            background-repeat: no-repeat;
            background-size: 60%;
            background-color: $primary-color-light
        }
        ion-avatar {
            margin-bottom: 30px;
            img {
                border-radius: 50%;
                width: 20%;
            }
        }

        h2 {
            font-size: .9em;
            color: #333333;
            position: absolute;
            bottom: -5px;
        }
    }
}