<ion-header>
  <ion-navbar color="yellow-color">
    <ion-title>Notificação</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-item>
    <ion-avatar item-start>
      <img src="assets/img/denuncia-notificacao.png">
    </ion-avatar>
    <h2>DENUNCIA 00098141</h2>
    <p>Veja as alterações da denuncia</p>
    <ion-note item-end>{{'2017-08-19' | date:'dd/MM/y'}}</ion-note>
  </ion-item>
  <ion-item>
    <ion-avatar item-start>
      <img src="assets/img/denuncia-notificacao.png">
    </ion-avatar>
    <h2>DENUNCIA 00098141</h2>
    <p>Veja as alterações da denuncia</p>
    <ion-note item-end>{{'2017-08-18' | date:'dd/MM/y'}}</ion-note>
  </ion-item>
  <ion-item (click)="openSorteio()">
    <ion-avatar item-start>
      <img src="assets/img/sorteio-notificacao.png">
    </ion-avatar>
    <h2>SORTEIO DO DIA</h2>
    <p>Veja os sortudos do dia</p>
    <ion-note item-end>{{'2017-08-18' | date:'dd/MM/y'}}</ion-note>
  </ion-item>

</ion-content>
