page-notificacao {
    ion-note {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 14px;
      }

      ion-avatar {
          border: 1px solid #f4f4f7;
          border-radius: 50%;
      }
}
