<ion-header>
      <header-app [title]="'Alterar Senha'" [color]="'accent-color'"></header-app>
</ion-header>


<ion-content no-padding>
      <ion-card>
            <ion-card-header>
                  <ion-card-title>
                        Alterar Senha
                  </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                  <form [formGroup]="alterarSenhaForm" (ngSubmit)="onSubmit()">
                        <ion-list>
                              <ion-item>
                                    <ion-label floating>Frase de segurança</ion-label>
                                    <ion-input type="text" formControlName="fraseEmail"></ion-input>
                              </ion-item>
                              <ion-item>
                                    <ion-label floating>Resposta de segurança</ion-label>
                                    <ion-input type="text" formControlName="resposta"></ion-input>
                              </ion-item>
                              <ion-item>
                                    <ion-label floating>CPF ou CNPJ</ion-label>
                                    <ion-input type="text" formControlName="login"></ion-input>
                              </ion-item>
                              <ion-item>
                                    <ion-label floating>Senha antiga</ion-label>
                                    <ion-input type="password" formControlName="senhaAntiga"></ion-input>
                              </ion-item>
                              <ion-item>
                                    <ion-label floating>Senha nova</ion-label>
                                    <ion-input type="password" formControlName="senhaNova"></ion-input>
                              </ion-item>
                              <ion-item>
                                    <ion-label floating>Confirmar senha nova</ion-label>
                                    <ion-input type="password" formControlName="senhaNovaConfirm"></ion-input>
                              </ion-item>
                              <ion-item>
                                    <button type="submit" ion-button block large [disabled]="!alterarSenhaForm.valid" color="primary-color">Alterar</button>
                              </ion-item>
                        </ion-list>
                  </form>
            </ion-card-content>
      </ion-card>
</ion-content>