<ion-header>
  <header-app [title]="'Ranking'" [color]="'green-color'"></header-app>
</ion-header>
<ion-content no-padding>
  <ion-avatar>
    <img [src]="user.photoURL">
    <ion-fab bottom right edge>
      <button (click)="openPerfil(user)" ion-fab mini color="primary-color"><ion-icon name="eye"></ion-icon></button>
    </ion-fab>
  </ion-avatar>
  <div id="infoPerfil">
    <h2>{{user.displayName}}</h2>
    <ion-note float-left>15º Lugar</ion-note>
    <ion-note float-right>800 Pontos</ion-note>
  </div>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item (click)="openPerfil({displayName: 'Nome do Jogador',email: 'test@test.com',photoURL: 'assets/img/avatar.png',providerId: 'test.com',uid: '1234567890'})">
          <ion-note item-start >1º</ion-note>
          <ion-avatar>
            <img src="assets/img/avatar.png" >
          </ion-avatar>
          <h2>Nome do Jogador</h2>
          <ion-note item-end>1000</ion-note>
        </ion-item>
        <ion-item>
          <ion-note item-start>2º</ion-note>
          <ion-avatar>
            <img src="assets/img/avatar.png" >
          </ion-avatar>
          <h2>Nome do Jogador</h2>
          <ion-note item-end>1000</ion-note>
        </ion-item>
        <ion-item>
          <ion-note item-start>3º</ion-note>
          <ion-avatar>
            <img src="assets/img/avatar.png" >
          </ion-avatar>
          <h2>Nome do Jogador</h2>
          <ion-note item-end>1000</ion-note>
        </ion-item>
        <ion-item>
          <ion-note item-start>4º</ion-note>
          <ion-avatar>
            <img src="assets/img/avatar.png" >
          </ion-avatar>
          <h2>Nome do Jogador</h2>
          <ion-note item-end>1000</ion-note>
        </ion-item>
        <ion-item>
          <ion-note item-start>5º</ion-note>
          <ion-avatar>
            <img src="assets/img/avatar.png" >
          </ion-avatar>
          <h2>Nome do Jogador</h2>
          <ion-note item-end>1000</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>