page-ranking {
    .content {
        background-color: #F4F4F7;

        ion-avatar {
            background-color: #FFFFFF;
            border: 1px solid #999999;
            border-radius: 50%;
            width: 50%;
            margin: 15px auto;
            position: relative;

            img {
                border-radius: 50%;
            }

            ion-fab[bottom][edge] {
                bottom: -15px;
            }
        }

        div#infoPerfil {
            display: block;
            width: 80%;
            margin: 0 auto 50px auto;
            text-align: center;

            h2 {
                color: #333333;
                font-size: 1.05em
            }
        }
        
        ion-list {
            ion-item {
                align-content: center;
                padding-left: 0;

                ion-avatar {
                    width: 0;
                    margin: 0;
                    display: inline-block;
                }

                h2 {
                    display: inline-block;
                    position: absolute;
                    margin: 11px 0 0 10px;
                }

                ion-note {
                    &[item-start] {
                        color: #333333;
                        font-size: 1.2em;
                    }
                    &[item-end] {
                        margin-top: 0;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
