<ion-header>
  <header-app [title]="'Game'" [color]="'green-color'"></header-app>
</ion-header>


<ion-content no-padding>
  <ion-card>
    <ion-card-header>
      <img src="assets/img/game-card.png" />
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>
        Game
      </ion-card-title>
      <p>
        Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográca e de impressos, e vem sendo utilizado desde o século
        XVI
      </p>
      <button *ngIf="logado; else jogar" ion-button large block color="google-color" (click)="signInWithGoogle()" icon-only>
        <ion-icon name="logo-google"></ion-icon>
        Google
      </button>
      <ng-template #jogar>
        <button float-right ion-button clear small color="primary-color" (click)="openRankings()">
          Jogar
        </button>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>