<!--
  Generated template for the EducacaoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header-app [title]="'Educação'" [color]="'primary-text-color'"></header-app>
</ion-header>


<ion-content no-padding>
  <ion-card>
    <ion-card-content>
      <p>Qui consequat nisi consectetur voluptate cupidatat excepteur occaecat id. Veniam aliquip quis velit quis nostrud occaecat fugiat qui nostrud ea Lorem ex. Voluptate culpa reprehenderit quis officia nisi anim enim cillum non duis nostrud dolor minim do. Sint aliqua consectetur aliquip eu esse voluptate id consectetur eiusmod nostrud exercitation elit ullamco deserunt. Ipsum sit aliquip consequat nisi dolor incididunt esse proident elit magna ad. Aliqua ex incididunt cupidatat Lorem fugiat enim occaecat incididunt. Sit id incididunt velit mollit id voluptate enim velit.</p>
      <p>Qui consequat nisi consectetur voluptate cupidatat excepteur occaecat id. Veniam aliquip quis velit quis nostrud occaecat fugiat qui nostrud ea Lorem ex. Voluptate culpa reprehenderit quis officia nisi anim enim cillum non duis nostrud dolor minim do. Sint aliqua consectetur aliquip eu esse voluptate id consectetur eiusmod nostrud exercitation elit ullamco deserunt. Ipsum sit aliquip consequat nisi dolor incididunt esse proident elit magna ad. Aliqua ex incididunt cupidatat Lorem fugiat enim occaecat incididunt. Sit id incididunt velit mollit id voluptate enim velit.</p>
      <p>Qui consequat nisi consectetur voluptate cupidatat excepteur occaecat id. Veniam aliquip quis velit quis nostrud occaecat fugiat qui nostrud ea Lorem ex. Voluptate culpa reprehenderit quis officia nisi anim enim cillum non duis nostrud dolor minim do. Sint aliqua consectetur aliquip eu esse voluptate id consectetur eiusmod nostrud exercitation elit ullamco deserunt. Ipsum sit aliquip consequat nisi dolor incididunt esse proident elit magna ad. Aliqua ex incididunt cupidatat Lorem fugiat enim occaecat incididunt. Sit id incididunt velit mollit id voluptate enim velit.</p>
      <p>Qui consequat nisi consectetur voluptate cupidatat excepteur occaecat id. Veniam aliquip quis velit quis nostrud occaecat fugiat qui nostrud ea Lorem ex. Voluptate culpa reprehenderit quis officia nisi anim enim cillum non duis nostrud dolor minim do. Sint aliqua consectetur aliquip eu esse voluptate id consectetur eiusmod nostrud exercitation elit ullamco deserunt. Ipsum sit aliquip consequat nisi dolor incididunt esse proident elit magna ad. Aliqua ex incididunt cupidatat Lorem fugiat enim occaecat incididunt. Sit id incididunt velit mollit id voluptate enim velit.</p>
      <p>Qui consequat nisi consectetur voluptate cupidatat excepteur occaecat id. Veniam aliquip quis velit quis nostrud occaecat fugiat qui nostrud ea Lorem ex. Voluptate culpa reprehenderit quis officia nisi anim enim cillum non duis nostrud dolor minim do. Sint aliqua consectetur aliquip eu esse voluptate id consectetur eiusmod nostrud exercitation elit ullamco deserunt. Ipsum sit aliquip consequat nisi dolor incididunt esse proident elit magna ad. Aliqua ex incididunt cupidatat Lorem fugiat enim occaecat incididunt. Sit id incididunt velit mollit id voluptate enim velit.</p>
      <p>Qui consequat nisi consectetur voluptate cupidatat excepteur occaecat id. Veniam aliquip quis velit quis nostrud occaecat fugiat qui nostrud ea Lorem ex. Voluptate culpa reprehenderit quis officia nisi anim enim cillum non duis nostrud dolor minim do. Sint aliqua consectetur aliquip eu esse voluptate id consectetur eiusmod nostrud exercitation elit ullamco deserunt. Ipsum sit aliquip consequat nisi dolor incididunt esse proident elit magna ad. Aliqua ex incididunt cupidatat Lorem fugiat enim occaecat incididunt. Sit id incididunt velit mollit id voluptate enim velit.</p>
      <p>Qui consequat nisi consectetur voluptate cupidatat excepteur occaecat id. Veniam aliquip quis velit quis nostrud occaecat fugiat qui nostrud ea Lorem ex. Voluptate culpa reprehenderit quis officia nisi anim enim cillum non duis nostrud dolor minim do. Sint aliqua consectetur aliquip eu esse voluptate id consectetur eiusmod nostrud exercitation elit ullamco deserunt. Ipsum sit aliquip consequat nisi dolor incididunt esse proident elit magna ad. Aliqua ex incididunt cupidatat Lorem fugiat enim occaecat incididunt. Sit id incididunt velit mollit id voluptate enim velit.</p>
      <p>Qui consequat nisi consectetur voluptate cupidatat excepteur occaecat id. Veniam aliquip quis velit quis nostrud occaecat fugiat qui nostrud ea Lorem ex. Voluptate culpa reprehenderit quis officia nisi anim enim cillum non duis nostrud dolor minim do. Sint aliqua consectetur aliquip eu esse voluptate id consectetur eiusmod nostrud exercitation elit ullamco deserunt. Ipsum sit aliquip consequat nisi dolor incididunt esse proident elit magna ad. Aliqua ex incididunt cupidatat Lorem fugiat enim occaecat incididunt. Sit id incididunt velit mollit id voluptate enim velit.</p>
      <p>Qui consequat nisi consectetur voluptate cupidatat excepteur occaecat id. Veniam aliquip quis velit quis nostrud occaecat fugiat qui nostrud ea Lorem ex. Voluptate culpa reprehenderit quis officia nisi anim enim cillum non duis nostrud dolor minim do. Sint aliqua consectetur aliquip eu esse voluptate id consectetur eiusmod nostrud exercitation elit ullamco deserunt. Ipsum sit aliquip consequat nisi dolor incididunt esse proident elit magna ad. Aliqua ex incididunt cupidatat Lorem fugiat enim occaecat incididunt. Sit id incididunt velit mollit id voluptate enim velit.</p>
      <p>Qui consequat nisi consectetur voluptate cupidatat excepteur occaecat id. Veniam aliquip quis velit quis nostrud occaecat fugiat qui nostrud ea Lorem ex. Voluptate culpa reprehenderit quis officia nisi anim enim cillum non duis nostrud dolor minim do. Sint aliqua consectetur aliquip eu esse voluptate id consectetur eiusmod nostrud exercitation elit ullamco deserunt. Ipsum sit aliquip consequat nisi dolor incididunt esse proident elit magna ad. Aliqua ex incididunt cupidatat Lorem fugiat enim occaecat incididunt. Sit id incididunt velit mollit id voluptate enim velit.</p>
      <p>Qui consequat nisi consectetur voluptate cupidatat excepteur occaecat id. Veniam aliquip quis velit quis nostrud occaecat fugiat qui nostrud ea Lorem ex. Voluptate culpa reprehenderit quis officia nisi anim enim cillum non duis nostrud dolor minim do. Sint aliqua consectetur aliquip eu esse voluptate id consectetur eiusmod nostrud exercitation elit ullamco deserunt. Ipsum sit aliquip consequat nisi dolor incididunt esse proident elit magna ad. Aliqua ex incididunt cupidatat Lorem fugiat enim occaecat incididunt. Sit id incididunt velit mollit id voluptate enim velit.</p>
      <p>Qui consequat nisi consectetur voluptate cupidatat excepteur occaecat id. Veniam aliquip quis velit quis nostrud occaecat fugiat qui nostrud ea Lorem ex. Voluptate culpa reprehenderit quis officia nisi anim enim cillum non duis nostrud dolor minim do. Sint aliqua consectetur aliquip eu esse voluptate id consectetur eiusmod nostrud exercitation elit ullamco deserunt. Ipsum sit aliquip consequat nisi dolor incididunt esse proident elit magna ad. Aliqua ex incididunt cupidatat Lorem fugiat enim occaecat incididunt. Sit id incididunt velit mollit id voluptate enim velit.</p>
      <p>Qui consequat nisi consectetur voluptate cupidatat excepteur occaecat id. Veniam aliquip quis velit quis nostrud occaecat fugiat qui nostrud ea Lorem ex. Voluptate culpa reprehenderit quis officia nisi anim enim cillum non duis nostrud dolor minim do. Sint aliqua consectetur aliquip eu esse voluptate id consectetur eiusmod nostrud exercitation elit ullamco deserunt. Ipsum sit aliquip consequat nisi dolor incididunt esse proident elit magna ad. Aliqua ex incididunt cupidatat Lorem fugiat enim occaecat incididunt. Sit id incididunt velit mollit id voluptate enim velit.</p>
      <p>Qui consequat nisi consectetur voluptate cupidatat excepteur occaecat id. Veniam aliquip quis velit quis nostrud occaecat fugiat qui nostrud ea Lorem ex. Voluptate culpa reprehenderit quis officia nisi anim enim cillum non duis nostrud dolor minim do. Sint aliqua consectetur aliquip eu esse voluptate id consectetur eiusmod nostrud exercitation elit ullamco deserunt. Ipsum sit aliquip consequat nisi dolor incididunt esse proident elit magna ad. Aliqua ex incididunt cupidatat Lorem fugiat enim occaecat incididunt. Sit id incididunt velit mollit id voluptate enim velit.</p>
      <p>Qui consequat nisi consectetur voluptate cupidatat excepteur occaecat id. Veniam aliquip quis velit quis nostrud occaecat fugiat qui nostrud ea Lorem ex. Voluptate culpa reprehenderit quis officia nisi anim enim cillum non duis nostrud dolor minim do. Sint aliqua consectetur aliquip eu esse voluptate id consectetur eiusmod nostrud exercitation elit ullamco deserunt. Ipsum sit aliquip consequat nisi dolor incididunt esse proident elit magna ad. Aliqua ex incididunt cupidatat Lorem fugiat enim occaecat incididunt. Sit id incididunt velit mollit id voluptate enim velit.</p>
      <p>Qui consequat nisi consectetur voluptate cupidatat excepteur occaecat id. Veniam aliquip quis velit quis nostrud occaecat fugiat qui nostrud ea Lorem ex. Voluptate culpa reprehenderit quis officia nisi anim enim cillum non duis nostrud dolor minim do. Sint aliqua consectetur aliquip eu esse voluptate id consectetur eiusmod nostrud exercitation elit ullamco deserunt. Ipsum sit aliquip consequat nisi dolor incididunt esse proident elit magna ad. Aliqua ex incididunt cupidatat Lorem fugiat enim occaecat incididunt. Sit id incididunt velit mollit id voluptate enim velit.</p>
      <p>Qui consequat nisi consectetur voluptate cupidatat excepteur occaecat id. Veniam aliquip quis velit quis nostrud occaecat fugiat qui nostrud ea Lorem ex. Voluptate culpa reprehenderit quis officia nisi anim enim cillum non duis nostrud dolor minim do. Sint aliqua consectetur aliquip eu esse voluptate id consectetur eiusmod nostrud exercitation elit ullamco deserunt. Ipsum sit aliquip consequat nisi dolor incididunt esse proident elit magna ad. Aliqua ex incididunt cupidatat Lorem fugiat enim occaecat incididunt. Sit id incididunt velit mollit id voluptate enim velit.</p>
      <p>Qui consequat nisi consectetur voluptate cupidatat excepteur occaecat id. Veniam aliquip quis velit quis nostrud occaecat fugiat qui nostrud ea Lorem ex. Voluptate culpa reprehenderit quis officia nisi anim enim cillum non duis nostrud dolor minim do. Sint aliqua consectetur aliquip eu esse voluptate id consectetur eiusmod nostrud exercitation elit ullamco deserunt. Ipsum sit aliquip consequat nisi dolor incididunt esse proident elit magna ad. Aliqua ex incididunt cupidatat Lorem fugiat enim occaecat incididunt. Sit id incididunt velit mollit id voluptate enim velit.</p>
      <p>Qui consequat nisi consectetur voluptate cupidatat excepteur occaecat id. Veniam aliquip quis velit quis nostrud occaecat fugiat qui nostrud ea Lorem ex. Voluptate culpa reprehenderit quis officia nisi anim enim cillum non duis nostrud dolor minim do. Sint aliqua consectetur aliquip eu esse voluptate id consectetur eiusmod nostrud exercitation elit ullamco deserunt. Ipsum sit aliquip consequat nisi dolor incididunt esse proident elit magna ad. Aliqua ex incididunt cupidatat Lorem fugiat enim occaecat incididunt. Sit id incididunt velit mollit id voluptate enim velit.</p>
      <p>Qui consequat nisi consectetur voluptate cupidatat excepteur occaecat id. Veniam aliquip quis velit quis nostrud occaecat fugiat qui nostrud ea Lorem ex. Voluptate culpa reprehenderit quis officia nisi anim enim cillum non duis nostrud dolor minim do. Sint aliqua consectetur aliquip eu esse voluptate id consectetur eiusmod nostrud exercitation elit ullamco deserunt. Ipsum sit aliquip consequat nisi dolor incididunt esse proident elit magna ad. Aliqua ex incididunt cupidatat Lorem fugiat enim occaecat incididunt. Sit id incididunt velit mollit id voluptate enim velit.</p>
      <p>Qui consequat nisi consectetur voluptate cupidatat excepteur occaecat id. Veniam aliquip quis velit quis nostrud occaecat fugiat qui nostrud ea Lorem ex. Voluptate culpa reprehenderit quis officia nisi anim enim cillum non duis nostrud dolor minim do. Sint aliqua consectetur aliquip eu esse voluptate id consectetur eiusmod nostrud exercitation elit ullamco deserunt. Ipsum sit aliquip consequat nisi dolor incididunt esse proident elit magna ad. Aliqua ex incididunt cupidatat Lorem fugiat enim occaecat incididunt. Sit id incididunt velit mollit id voluptate enim velit.</p>
      <p>Qui consequat nisi consectetur voluptate cupidatat excepteur occaecat id. Veniam aliquip quis velit quis nostrud occaecat fugiat qui nostrud ea Lorem ex. Voluptate culpa reprehenderit quis officia nisi anim enim cillum non duis nostrud dolor minim do. Sint aliqua consectetur aliquip eu esse voluptate id consectetur eiusmod nostrud exercitation elit ullamco deserunt. Ipsum sit aliquip consequat nisi dolor incididunt esse proident elit magna ad. Aliqua ex incididunt cupidatat Lorem fugiat enim occaecat incididunt. Sit id incididunt velit mollit id voluptate enim velit.</p>
      <p>Qui consequat nisi consectetur voluptate cupidatat excepteur occaecat id. Veniam aliquip quis velit quis nostrud occaecat fugiat qui nostrud ea Lorem ex. Voluptate culpa reprehenderit quis officia nisi anim enim cillum non duis nostrud dolor minim do. Sint aliqua consectetur aliquip eu esse voluptate id consectetur eiusmod nostrud exercitation elit ullamco deserunt. Ipsum sit aliquip consequat nisi dolor incididunt esse proident elit magna ad. Aliqua ex incididunt cupidatat Lorem fugiat enim occaecat incididunt. Sit id incididunt velit mollit id voluptate enim velit.</p>
      <p>Qui consequat nisi consectetur voluptate cupidatat excepteur occaecat id. Veniam aliquip quis velit quis nostrud occaecat fugiat qui nostrud ea Lorem ex. Voluptate culpa reprehenderit quis officia nisi anim enim cillum non duis nostrud dolor minim do. Sint aliqua consectetur aliquip eu esse voluptate id consectetur eiusmod nostrud exercitation elit ullamco deserunt. Ipsum sit aliquip consequat nisi dolor incididunt esse proident elit magna ad. Aliqua ex incididunt cupidatat Lorem fugiat enim occaecat incididunt. Sit id incididunt velit mollit id voluptate enim velit.</p>
      <p>Qui consequat nisi consectetur voluptate cupidatat excepteur occaecat id. Veniam aliquip quis velit quis nostrud occaecat fugiat qui nostrud ea Lorem ex. Voluptate culpa reprehenderit quis officia nisi anim enim cillum non duis nostrud dolor minim do. Sint aliqua consectetur aliquip eu esse voluptate id consectetur eiusmod nostrud exercitation elit ullamco deserunt. Ipsum sit aliquip consequat nisi dolor incididunt esse proident elit magna ad. Aliqua ex incididunt cupidatat Lorem fugiat enim occaecat incididunt. Sit id incididunt velit mollit id voluptate enim velit.</p>
      <p>Qui consequat nisi consectetur voluptate cupidatat excepteur occaecat id. Veniam aliquip quis velit quis nostrud occaecat fugiat qui nostrud ea Lorem ex. Voluptate culpa reprehenderit quis officia nisi anim enim cillum non duis nostrud dolor minim do. Sint aliqua consectetur aliquip eu esse voluptate id consectetur eiusmod nostrud exercitation elit ullamco deserunt. Ipsum sit aliquip consequat nisi dolor incididunt esse proident elit magna ad. Aliqua ex incididunt cupidatat Lorem fugiat enim occaecat incididunt. Sit id incididunt velit mollit id voluptate enim velit.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
