<ion-header>
  <header-app [title]="'Consulta'" [color]="'primary-color'"></header-app>
</ion-header>


<ion-content no-padding>
  <ion-card>
    <ion-card-header>
      <img src="assets/img/creditos-card.png" />
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>
        Nota Fiscal/Créditos
      </ion-card-title>
      <p>
        Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográca e de impressos, e vem sendo utilizado desde o século
        XVI
      </p>
    </ion-card-content>
    <button float-right ion-button clear small color="primary-color" (click)="openNotas()">
      Ver
    </button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="assets/img/sorteio-card.png" />
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>
          Sorteios
      </ion-card-title>
      <p>
        Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográca e de impressos, e vem sendo utilizado desde o século
        XVI
      </p>
    </ion-card-content>
    <button float-right ion-button clear small color="primary-color" (click)="openSorteio()">
      Ver
    </button>
  </ion-card>
</ion-content>