<!--
  Generated template for the CreditoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header-app [title]="'Créditos'" [color]="'orange-color'"></header-app>
</ion-header>
<ion-content no-padding>
  <ion-card>
    <ion-card-header> 
      <ion-card-title>Doar para uma instituição</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="doarFrom" (ngSubmit)="onSubmit()">
        <ion-list>
          <ion-item>
            <ion-label floating>Entidade Social</ion-label>
            <ion-select formControlName="id">
                <ion-option *ngFor="let entidade of entidades" value="{{entidade.id}}">{{entidade.razaoSocial}}</ion-option>
              </ion-select>
          </ion-item>
          <ion-item>
              <button ion-button large block type="submit" color="primary-color" [disabled]="!doarFrom.valid">Doar</button>
          </ion-item>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
